*{
	margin: 0;
	padding: 0;
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

/*.container{
	width: 100%;
	margin: 0 auto;
}*/


header{
	width: 100%;
	/*position: fixed;*/
	z-index: 10;
	top: 0;
	/*padding: 20px;*/
	background-color: white;
}

.title{
	margin: 30px;
	font-size: 35px;
	color: #5f414b;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
 }

nav{
	width: 50%;
	margin: 0 auto;

}

li{
	list-style: none;
	color: #5f414b;
	float: left;
	/*margin: 15px;*/
	text-align: center;
	font-size: 	25px;
	font-family: 'Josefin Sans', sans-serif;
	width: 16.5%;

}

a {
	text-decoration: none;
	color: #5f414b;
}

.top-image{
	height: 600px;
	width: 800px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 80px;
	background-image:url(../img/aska4.jpg);
 	background-size: cover;
 	background-position: center;   
}



.circle{
	width: 120px;
	height: 120px;
	margin: 20px auto;
	border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    color: #5f414b;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 120px;
}

.circle-text{
	margin-top: 0;
}



#news-sns {
	width: 100%;
	height: 500pt;
	margin: 0 auto;
	/*padding-bottom: 30px;*/
}

/*.clearfix::after{
	content: "";
	clear: both;
	display: block;
}*/

.content-box1 {
	height: 660px;
	float: left;
	background-color: #ff6347;
	width: 50%;
}

.news1 {
	margin: 40px auto 10px 100px;
	text-align: auto;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
}

.news-text {
	color: #FFFFFF;
}

.news2 {
	margin: 40px auto 10px 100px;
	text-align: auto;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
}

.content-box2 {
	height: 660px;
	float: left;
	text-align: center;
	font-size: 18px;
	background-color: #ffd700;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
	width: 50%;
}
	
.sns-box1 {
	margin: 40px auto 30px auto
}

.sns-box2{
	margin: 0 auto 30px auto 
}

.sns-box3 {
	height: 120px;
	width: 200px;
	margin: 0 auto 0 auto;
	position: relative;
	z-index: 1;
}

.circle-point1{
	width: 50px;
	height: 50px;
	border-radius: 50%;
    background-color: red;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 50px;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: -50px;
    display: block;
}


#profile {
	width: 100%;
	height: 650px;
	background-image: url(../img/service1.jpg);
	background-size: cover;
	background-position: top;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
}

.white_mask {
	float: left;
	width: 100%;
	height: 650px;
	background-color: rgba(255,255,255,0.5);
}

.circle2{
	width: 300px;
	height: 300px;
	/*margin: 30px;*/
	float: left;
	margin: 30px auto auto 150px;
	border-radius: 50%;
	background-image: url(../img/plofile.jpg);
	background-size: cover;
	background-position: contain;
}


.profile {
	float: right;
	padding-right: 200px;
	margin: 20px 30px 0 auto;
}	

.message {
	float: right;
	margin: 20px;
	padding-right: 150px;
	font-family: "Sawarabi Mincho";
}


#service {
	width: 100%;
	height: 800px;
	background-image: url(../img/aska10.jpg);
	color: #5f414b;
	font-family: "Sawarabi Mincho";
	background-size: cover;
	background-position: center;
	vertical-align: bottom;
}

.white_mask2 {
	float: left;
	width: 100%;
	height: 800px;
	background-color: rgba(255,255,255,0.3);
}

.service-box1 {
	float: left;
	width: 35%;
	height: 650px;
	margin: 0 auto;
	text-align: center;
}

.circle3 {
	/*float: left;*/
	width: 250px;
	height: 250px;
	margin: 20px auto 30px auto;
    border-radius: 50%;
	background-image: url(../img/shopping2.jpg);
	background-size: cover;
	background-position: contain;
}

.service-text1 {
	/*float: left;*/
	margin: 20px auto 50px;
}

.service-box2 {
	float: left;
	width: 30%;
	height: 650px;
	margin: 0 auto;
	text-align: center;
}
.circle4 {
	/*float: left;*/
	width: 250px;
	height: 250px;
	margin: 20px auto 30px;
    border-radius: 50%;
	background-image: url(../img/seminor1.jpg);
	background-size: cover;
	background-position: center;
}

.service-text2 {
	/*float: left;
	margin: 20px auto auto auto;*/
}

.service-box3 {
	float: left;
	width: 35%;
	height: 650px;
	margin: 0 auto;
	text-align: center;
}
.circle5 {
	/*float: left;*/
	width: 250px;
	height: 250px;
	margin: 20px auto 30px;
    border-radius: 50%;
	background-image: url(../img/media1.jpg);
	background-size: cover;
	background-position: center;
}



.service-text3 {
	/*float: left;
	margin: 20px auto auto 50px;*/
}

#media {
	float: left;
	width: 100%;
	height: 850px;
	background-image: url(../img/aska11.jpg);
	color: #5f414b;
	font-family: "Sawarabi Mincho";
	background-size: cover;
	background-position: top;
}

.white_mask3 {
	float: left;
	width: 100%;
	height: 870px;
	background-color: rgba(255,255,255,0.6);
}


.media-box1 {
	float: left;
	width: 50%;
	height: 870px;
	margin: 30px auto auto 0;
}

.media-title1 {
	margin: 30px auto auto 30px;
}

.media-text1 {
	margin: 30px auto auto 50px;
}

.media-box2 {
	float: right;
	width: 50%;
	height: 870px;
	margin: 0 auto;
	
}

#contact {
	float: left;
	width: 100%;
	height: 250px;
	background-color: #3cd371;
	color: #5f414b;
	text-align: center;
	font-family: "Sawarabi Mincho";
}

.contact-text {
	font-size: 18px;
}

.footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 20px;
	background-color: white;
	font-size: 20px;
}

footer{
	clear: both;
	height: 60px;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	color: #5f414b;
    font-family: 'Josefin Sans', sans-serif;
}

@media all and (max-width: 480px){

	li {
		line-height: 25px;
		float: none;
	}

	a {
		text-align: center;
	}

	.top-image{
		display: none;
	}
	.top-image-sp{
		height: 500px;
		width: 450px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		background-image:url(../img/aska10.jpg);
	 	background-size: cover;
	 	background-position: center;   
	}

	.content-box1 {
		float: none;
	    width: 100%;

	    text-align: center;
	}

	.news1{
		margin:10px ;
	}

	.news2{
		margin:10px ;
	}

	.content-box2{
		float: none;
		width: 100%;
		text-align: center;
	}

	#service {
	width: 100%;
	height: 1700px;
	background-image: none;
	background-color: pink;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
	background-size: cover;
	background-position: center;
	vertical-align: bottom;
}

.white_mask2 {
	float: none;
	width: 100%;
	height: 1700px;
	background-color: rgba(255,255,255,0.3);
}

.service-box1 {
	float: none;
	width: 100%;
	height: 550px;
	margin: 10px auto;
	text-align: center;
}

.circle3 {
	/*float: left;*/
	width: 250px;
	height: 250px;
	margin: 10px auto;
    border-radius: 50%;
	background-image: url(../img/shopping2.jpg);
	background-size: cover;
	background-position: contain;
}

.service-text1 {
	/*float: left;*/
	margin: 10px auto;
}

.service-box2 {
	float: none;
	width: 100%;
	height: 550px;
	margin: 0 auto;
	text-align: center;
}
.circle4 {
	float: none;
	width: 250px;
	height: 250px;
	margin: 10px auto;
    border-radius: 50%;
	background-image: url(../img/seminor1.jpg);
	background-size: cover;
	background-position: center;
}

.service-text2 {
	/*float: left;
	margin: 20px auto auto auto;*/
}

.service-box3 {
	float: none;
	width: 100%;
	height: 550px;
	margin: 10px auto;
	text-align: center;
}
.circle5 {
	/*float: left;*/
	width: 250px;
	height: 250px;
	margin: 10px auto;
    border-radius: 50%;
	background-image: url(../img/media1.jpg);
	background-size: cover;
	background-position: center;
}

.service-text3 {
	/*float: left;
	margin: 20px auto auto */

}

.circle2{
	width: 300px;
	height: 300px;
	/*margin: 30px;*/
	float: none;
	margin: 20px auto 20px auto;
	border-radius: 50%;
	background-image: url(../img/plofile.jpg);
	background-size: cover;
	background-position: contain;
}


.profile {
	float: none;
	margin: 20px;
	text-align: center;
	padding: 0;
}	

.message {
	float: none;
	margin: 20px;
	padding: 0;
	text-align: center;
	font-family: "Sawarabi Mincho";
}


#profile {
	width: 100%;
	height: 1200px;
	margin : 20px auto 20px auto;
	background-image: none;
	background-color: lightblue;
	background-size: cover;
	background-position: top;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
}

.white_mask {
	float: none;
	width: 100%;
	height: 1300px;
	background-color: rgba(255,255,255,0.5);
	color: #5f414b;
	font-family: "Sawarabi Mincho";
	background-size: cover;
	background-position: top;
}

#media {
	float: none;
	width: 100%;
	height: 1300px;
	background-image: none;
	background-color: gray;
}

.white_mask3 {
	float: none;
	width: 100%;
	height: 1300px;
	background-color: rgba(255,255,255,0.6);
}

.media-box1 {
	float: none;
	width: 100%;
	height: 300px;
	margin: 20px;
}

iframe {
	height: 180px;
	width: 320px;
}

.media-title1 {
	margin: 20px;
}

.media-text1 {
	margin: 20px;
}

.media-box2 {
	float: none;
	width: 100%;
	height: 500px;
	margin: 20px;
}

.media-box2 {
	float: none;
	width: 100%;
	height: 500px;
	margin: 20px;
	
}

#contact {
	float: none;
	width: 100%;
	height: 250px;
	background-color: #3cd371;
	color: #5f414b;
	text-align: center;
	font-family: "Sawarabi Mincho";
}

.contact-text {
	font-size: 18px;
}

.footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 20px;
	background-color: white;
	font-size: 20px;
}

/*footer{
	clear: both;
	height: 60px;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	color: #5f414b;
    font-family: 'Josefin Sans', sans-serif;
}*/


