*{
	margin: 0;
	padding: 0;
}


.container{
	width: 1050px;
	margin: 0 auto;
}

header{
	width: 100%;
	position: fixed;
	top: 0;
	padding: 20px;
	background-color: white;
}

.title{
	margin: 20px auto;
	font-size: 35px;
	color: #5f414b;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
 }

nav{
	/*float: right;*/
	width: 60%;
	margin: 0 auto;
}

li{
	list-style: none;
	color: #5f414b;
	float: left;
	/*margin-left: 3%;*/
	text-align: center;
	font-size: 	25px;
	font-family: 'Josefin Sans', sans-serif;
	width: 15%;

}

a {
	text-decoration: none;
	color: #5f414b;
}

.img_box{
	height: 580px;
	width: 580px;
	margin: 40px auto;
	margin-top: 150px;
	background-image:url(../img/aska4.jpg);
 	background-size: cover;
 	background-position: center;   
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

.circle{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px; 
	border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 30px;
    color: #5f414b;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 100px;
}

.circle2{
	width: 300px;
	height: 300px;
	margin: 30px;
	float: left;
	margin: 30px auto auto 150px;
	border-radius: 50%;
	background-image: url(../img/plofile.jpg);
	background-size: cover;
	background-position: contain;
}

#profile{
	background-image: url(../img/aska11.jpg);
	background-size: cover;
	background-position: top;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
}

.white_mask {
	width: 100%;
	height: 650px;
	background-color: rgba(255,255,255,0.6);
}

.profile {
	float: right;
	padding-right: 200px;
	margin: 30px;
}	

.message {
	float: right;
	margin: 20px;
	padding-right: 150px;
	font-family: "Sawarabi Mincho";
}

.content2{
	width: 100%;
	height: 500pt;
	margin: 0 auto;
	padding-bottom: 30px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

.content-box1 {
	height: 100%;
	float: left;
	background-color: #ff6347;
	width: 50%;
}

.news1 {
	margin: 40px auto 10px 100px;
	text-align: auto;
	color: #5f414b;
	font-family: "Sawarabi Mincho";

}

.news2 {
	margin: 50px auto 10px 100px;
	text-align: auto;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
}

.content-box2 {
	height: 100%;
	float: left;
	text-align: center;
	font-size: 18px;
	background-color: #ffd700;
	color: #5f414b;
	font-family: "Sawarabi Mincho";
	width: 50%;
}
	
.sns-box1 {
	margin: 40px auto 30px auto
}

.sns-box2{
	margin: 0 auto 30px auto 
}



.content3 {
	width: 100%;
	height: 600px;
	background-image: url(../img/aska10.jpg);
	color: #5f414b;
	font-family: "Sawarabi Mincho";
	background-size: cover;
	background-position: center;
}


.circle3 {
	width: 200px;
	height: 200px;
	margin: 30px;
	float: left;
	margin: 30px auto auto 150px;
	border-radius: 50%;
	background-image: url(/img/shopping.jpg);
	background-size: cover;
	background-position: contain;
}


