*{
	margin: 0;
	padding: 0;
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

header{
	width: 100%;
	height: 80px;
	z-index: 10;	
	position: fixed;
	background-color: white;
}

header img {
	float: left;
	text-align: center;	
	margin: 10px;
}

nav {
	width: 50%;
	height: 50px;
	float: right;
}

li{
	list-style: none;
	float: left;
	color: white;
	margin: 10px;
	text-align: center;
	font-size: 18px;
	width: 20%;
	margin: 0;
	margin-top: 40px;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

a {
	text-decoration: none;
	color: #191970;
}

.collection {
	width: 100%;
	height: 1200px;
	padding-top:100px;
	background-image: url(../img/paper12.png);
	background-size: cover;
}

h2 {
	padding: 30px;
	text-align: center; 
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

.heading {
	text-align: center;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

.collection-boxes {
	width: 95%;
	height: 1000px;
	margin: 20px auto;
	background-size: cover;

}

.image-box {
	width: 300px;
	height: 450px;
	margin: 20px;
	float: left;
	background-size: cover;
	background-position: top;
	text-align: center;
	color: white;
	/*background-color: rgba(0,0,0,0.5);*/
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;

}

.image-text {
	padding-top: 225px;
	height: 225px;

	display: none;
	/*height: 300px;*/
	width: 300px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: white;
}


.img1 {
	background-image: url(../img/collection1.jpg);
}

.img2 {
	background-image: url(../img/collection2.jpg);
}

.img3 {
	background-image: url(../img/collection3.jpg);
}

.img4 {
	background-image: url(../img/collection4.jpg);
}

.img5 {
	background-image: url(../img/collection5.jpg);
}

.img6 {
	background-image: url(../img/collection6.jpg);
}

.img7 {
	background-image: url(../img/collection7.jpg);
}

.img8 {
	background-image: url(../img/collection8.jpg);
}


footer {
	height: 50px;
	width: 100%;
	margin-top: 30px;
	color: #191970;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}