*{
	margin: 0;
	padding: 0;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%;
	height: 80px;
	z-index: 10px;
	position: fixed;
	background-color: white;

}

header img {
	float: left;
	text-align: center;	
	margin: 10px;
}

nav {
	width: 50%;
	height: 50px;
	float: right;
}

li{
	list-style: none;
	float: left;
	color: white;
	margin: 10px;
	text-align: center;
	font-size: 18px;
	width: 20%;
	margin: 0;
	margin-top: 40px;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

a {
	text-decoration: none;
	color: #191970;
}

.whatsnew {
	width: 100%;
	height: 550px;
	padding-top: 80px;
	float: left;
	background-image: url(../img/paper12.png);
}

h1 {
	padding: 30px;
	text-align: center; 
	font-size: 35px;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

.new-boxes {
	width: 100%;
	height: 400px;
	margin: 30px auto;
	float: left;
	text-align: center;
	background-color: : white;

}

h2 {
	padding: 20px;
	color: #191970;
	text-align: center;
    font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

.new-box-group{
	width: 1100px;
	margin: 0 auto;
}

.new-box {
	display: block;
	width: 20%;
	height: 220px;
	margin: 20px auto 20px auto;
	float: left;
}

.new-image {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	background-size: cover;
	background-position: center;
}

.img1 {
	background-image: url(../img/new-image1.jpg);
}

.img2 {
	background-image: url(../img/new-image2.jpg);
}

.img3 {
	background-image: url(../img/new-image3.jpg);
}

.img4 {
	background-image: url(../img/new-image4.jpg);
}

.img5 {
	background-image: url(../img/new-image5.jpg);
}


.image-text {
	width: : 100px;
	height: 80px;
	margin-top: 10px;
	text-align: center;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}





.topics {
	width: 	100%;
	height: 800px;
	float: left;
	background-image: url(../img/paper12.png);
}

.main-text {
	width: : 100%;
	height: 120px;
	margin-top: 20px;
	text-align: center;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

.topics-boxes {
	width: 100%;
	height: 500px;
	margin: 10px auto;
	float: left;
	text-align: center;
	background-color: : white;
}


.topics-box {
	width: 33%;
	height: 450px;
	margin: 20px auto;
	float: left;
	text-align: center;
}

.topics-image {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	background-size: cover;
	background-position: top;
}

.img6 {
	background-image: url(../img/topics1.jpeg);
}

.img7 {
	background-image: url(../img/topics2.jpeg);
}

.img8 {
	background-image: url(../img/topics4.jpg);
}

.topics-text {
	width: : 100px;
	height: 50px;
	text-align: center;
	margin-top: 10px;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}



.media {
	width: 100%;
	height: 700px;
	float: left;
	background-image: url(../img/paper12.png);
}

.main-text2 {
	width: : 100%;
	height: 50px;
	text-align: center;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

.sns {
	height: 100px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #191970;
}

.sns-group{
	width: 500px;
	margin: 0 auto;
}

.sns-box {
	height: 80px;
	width: 33%;
	float: left;
	line-height: center;
	margin: 10px auto;
}

.media-boxes {
	width: 100%;
	height: 450px;
	margin: 10px auto;
	float: left;
	text-align: center;
	background-color: : white;
}

.media-group{
	width: 1200px;
	margin: 0 auto;
}

.media-box {
	width: 25%;
	height: 400px;
	margin: 0 auto;
	float: left;
	text-align: center;
}

.media-image {
	width: 200px;
	height: 257px;
	margin: 0 auto;
	text-align: center;
	background-size: cover;
	background-position: top;
}

.img9 {
	background-image: url(../img/media4.jpeg);
}

.img10 {
	background-image: url(../img/media5.jpeg);
}

.img11 {
	background-image: url(../img/media6.jpeg);
}

.img12 {
	background-image: url(../img/media7.jpeg);
}


.textbox {
	width: : 100px;
	height: 100px;
	text-align: center;
	margin-top: 10px;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

.text {
	text-align: center;
	margin: 0 auto;
	color: #191970;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}

footer {
	display: inline-block;
	height: 50px;
	width: 100%;
	line-height: 50px;
	/*margin-top: 30px;*/
	color: #191970;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cookie', cursive;
}


